@import "tailwindcss";
@config "./tailwind.config.js";

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar for that 'IDE' feel */
::-webkit-scrollbar {
  width: 10px;
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
  border: 2px solid #0a0a0a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}